/* 清除内外边距 */
* {
  margin: 0;
  padding: 0;
}
/* 全局清除浮动 */
body .clearfix:bafore,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  /* IE6~7专有 */
  *zoom: 1;
}

body {
  background-color: rgba(222, 222, 222, 0.162);
}
/* 设置整个版心的样式 */
/* 贯穿整个网页内容的样式 */
.w {
  width: 1200px;
  margin: auto;
  padding: 2px 0;
}

/* 头部 */
li {
  list-style: none;
}
a {
  /* 删除下划线 */
  text-decoration: none;
}
/* 总体框架样式 */
.header {
  /* position:fixed; */
  height: 42px;
  /* background-color:white; */
  /* 此处会重叠 w 里面的margin */
  margin: 30px auto;
}
/* logo */
.logo {
  width: 198px;
  height: 42px;
  /* background-color:aliceblue; */
  float: left;
}

/* 导航栏顶部 */
.nav {
  /* height:42px; */
  /* width:90px; */
  /* background-color:white; */
  float: left;
  margin-left: 60px;
}
.nav ul li {
  /* display:li */
  float: left;
  margin: 0 15px;
}
.nav ul li a {
  /* 转换为块级元素 */
  display: block;
  height: 42px;
  /* 统一内边距 */
  padding: 0 10px;
  /* 剧中 */
  line-height: 42px;
  font-size: 18px;
  color: #050505;
}
.nav ul li a:hover {
  border-bottom: 2px solid #00a4ff;
  /* margin-top: 0px; */
  color: #00a4ff;
}

/* search搜索模块 */
.search {
  height: 42px;
  width: 422px;
  background-color: skyblue;
  margin-left: 70px;
  float: left;
}
/* 搜索框 */
.search input {
  height: 40px;
  width: 360px;
  border: 1px solid #00a4ff;
  margin-right: 0;
  padding-left:10px;
}
/* 搜索按钮 */
.search button {
  width: 50px;
  height: 42px;
  /* 插入按钮图片 */
  background-image: url(./images/btn.png);
  /* background-color: blue; */
  /* 去除默认边框 */
  border: 0;
  float: right;
}

/* 用户头像信息模块 */
.user {
  height: 42px;
  width: 140px;
  line-height: 42px;
  /* background-color: #050505; */
  float: right;
}
/* 头像 */
.user-img {
  height: 30px;
  width: 30px;
  margin-left: 0;
  background-color: #00a4ff;
  background-image: url(./images/user.png);
  background-repeat: no-repeat;
  border-radius: 15px;
  float: left;
  margin: 7px auto;
}
/* 昵称 */
.user-name {
  height: 42px;
  width: 90px;
  color: #666;
  /* background-color: aqua; */
  line-height: 42px;
  float: left;
  margin-left: 7px;
}

/* banner */
/* 整体背景 */
.banner {
  height: 421px;
  background-color: #1c036c;
}
/* 横幅版心 */
.banner .w {
  height: 421px;
  /* 因为已经设置了宽度，所以不用单独设置宽度 */
  background-image: url(./images/banner2_20190819_210028.png);
  background-repeat: no-repeat;
  background-position: top center;
}
/* 总体样式 */
.subnav {
  float: left;
  width: 190px;
  height: 421px;
  background: rgba(0, 0, 0, 0.3);
}
/* 文字 */
.subnav ul li {
  height: 45px;
  line-height: 45px;
  padding: 0 20px;
}
/* 内容样式 */
.subnav ul li a {
  font-size: 14px;
  color: #ffffff;
  /* background: rgba(0, 0, 0, 0.3); */
}
/* 右边的指针 */
.subnav ul li span {
  float: right;
}
/* 设置鼠标移过时的样式 */
.subnav ul li a:hover {
  color: #00a4ff;
  /* background: rgba(121, 90, 243, 0.3); */
}

/* 课程表模块 */
.course {
  height: 300px;
  width: 230px;
  background-color: white;
  /* nav左浮动 这个右浮动 */
  float: right;
  /* 调整位置 */
  margin-top: 50px;
}
/* 我的课程表 */
.course h2 {
  height: 48px;
  background-color: skyblue;
  line-height: 48px;
  padding: 0px 51px;
  color: white;
}

/* 继续学习模块 */
.bd {
  padding: 0 20px;
}
.bd ul li {
  padding: 14px 0;
  border-bottom: 1px solid #ccc;
}
.bd ul li h4 {
  font-size: 16px;
  color: #4e4e4e;
}
.bd ul li p {
  font-size: 12px;
  color: #a5a5a5;
}
.bd .more {
  display: block;
  height: 38px;
  border: 1px solid #00a4ff;
  margin-top: 5px;
  text-align: center;
  line-height: 38px;
  color: #00a4ff;
  font-size: 16px;
  font-weight: 700;
}

/* 精品推荐 */
.goods {
  height: 60px;
  background-color: #ffffff;
  margin-top: 10px;
  box-shadow: 0 4px 3px 3px rgba(0, 0, 0, 0.1);
  /* 内容剧中 */
  line-height: 60px;
}
/* 设置浮动 */
.goods h3 {
  float: left;
  margin-left: 30px;
  font-size: 16px;
  color: #00a4ff;
}
.goods ul {
  float: left;
  margin-left: 30px;
}
.goods ul li {
  float: left;
  /* margin-left:30px; */
}
.goods ul li a {
  padding: 0 30px;
  font-size: 16px;
  color: #050505;
  border-left: 1px solid #ccc;
}
.mod {
  float: right;
  font-size: 14px;
  color: #00a4ff;
  margin-right: 30px;
}

/* 课程精品推荐 */
/* 头部 */
.goods-box-head {
  margin-top: 30px;
  height: 45px;
}
.goods-box-head h3 {
  float: left;
  font-size: 20px;
  color: #494949;
}

.goods-box-head a {
  float: right;
  font-size: 12px;
  color: #a5a5a5;
  margin-top: 10px;
  margin-right: 30px;
}

.intop{
  position:fixed;
  left:50%;
  margin-left:620px;
  margin-top:35%;
  height:60px;
  width:60px;
  background-color: pink;
border-radius:30px;
}
.intop img{
  height:100%;
  width:100%;
}

/* 身体内容 */
.goods-box-body {
  overflow: hidden;
}
.goods-box-body ul li {
  width: 228px;
  height: 270px;
  background-color: white;
  /* border:1px solid rgb(200, 200, 200); */
  float: left;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* 可以扩充宽度，以消除浮动占不下的影响 */
.goods-box-body ul {
  width: 1225px;
}

.goods-box-body ul li img {
  width: 100%;
}
.goods-box-body ul li h4 {
  margin: 20px 20px 20px 25px;
  font-size: 14px;
  color: #050505;
  font-weight: 400;
}
.goods-box-body .info {
  margin: 0 20px 0 25px;
  font-size: 12px;
  color: #999;
}
.goods-box-body .info span {
  color: #ff7c2d;
}

/* 页脚 */
#footer {
  height: 415px;
  background-color: white;
}
.copyright {
  margin-top: 30px;
  height: 166px;
  width: 548px;
  background-color: white;
  font-size: 15px;
  color: #888888;
  float: left;
}
.copyright p{
  margin-top:20px;
}
.copyright .more {
  display: block;
  height: 38px;
  width: 120px;
  border: 1px solid #00a4ff;
  margin-top: 5px;
  text-align: center;
  line-height: 38px;
  color: #00a4ff;
  font-size: 16px;
  font-weight: 700;
}
/* 左 */
.links {
  float: right;
  margin-top: 30px;
}
.links .links-1 {
  height: 160px;
  width: 200px;
  background-color: white;
  float: left;
  margin-left: 10px;
}
.links .links-2 {
  height: 160px;
  width: 200px;
  background-color: white;
  float: left;
  margin-left: 10px;
}
.links .links-3 {
  height: 160px;
  width: 200px;
  background-color: white;
  float: left;
  margin-left: 10px;
}
.links .links-title {
  font-size: 18px;
  color: #333333;
}
.links .links-contant {
  font-size: 14px;
  color: black;
  text-decoration: none;
  margin-top:10px;
}

/* .links .links-contant{
  font-size: 14px;
  color: black;
  text-decoration: none;
} */
